.App {
  text-align: center;
  width: 80%;
  padding-top: 50px;
  margin-top: 50px;
  margin-left: 10%;
  background-color: black;
}

.calcButton{
  float: left;
  font-size: 5vw;
  width: 25%;
  min-height: 44px;
  background-color: black;
  color: white;
}

.display{
  margin-left: 10%;
  background-color: white;
  width: 80%;
  height: 100px;
  border: darkgray solid 2px;
}

